body{
  background-color: #05161A;
}
h1{
  color: #6DA5C0;
}
P{
  color: #6DA5C0;
}
tr{
	color : whitesmoke ;
}
table {
  background-color: #1B3358 ;
  width: 55%;
  border-collapse: collapse;
  border: 3px solid black;
  caption-side: bottom;
  font-family: cursive;
  
	
}

td{
	background: linear-gradient();
     border: 3px solid black;
}


a.bbb{
display: inline-block;
  list-style-type: none;
}

a{
  
  background-color: #1B3358;
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5px;

  
}
a:hover{
  background-color: whitesmoke;
  color: #1B3358;
  transition: 0.5s;
}

div{
  display: inline-block;
  width: 48%;
}
div.gg{
  background-color: #072E33;
  vertical-align: top;
  height: 295px;
}

img{
  border-radius: 50%;

}